<form method="post" action="/merchants">
  <input name="_method" value="put" type="hidden"/>

    <label for="name">Name:</label>
    <input id="name" type="text" name="name" value="<%= @merchant.name %>"/>

    <input type='submit' value="Edit merchant"/>
</form>
