<ul>
  <% for merchant in @merchants %>
  <li>Id: <%= merchant.id %> | Merchant: <%= merchant.name %> | <button type="button" name="button"><a href="/merchants/<%= merchant.id %>/edit">Edit</a></button> <button type="button" name="button"><a href="/merchants/<%= merchant.id %>/delete">Delete</a></button> </li>
  <% end %>
</ul>
