<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Trackon, saver of money</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/links.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="icon" href="/images/vault.png">
  </head>
  <body>
    <section class="wrapper">
      <header class="">
        <h1><a href="/" class=" header_title">Trackon, saver of money</a></h1>
      </header>

      <nav>
        <ul class="center">
          <li class="main_li"><a class="main_links" href="/transactions">Transactions</a></li>
          <li class="main_li"><a class="main_links" href="/merchants">Merchants</a></li>
          <li class="main_li"><a class="main_links" href="/tags">Tags</a></li>
          <li class="main_li"><a class="main_links" href="/budgets">Budgets</a></li>
        </ul>
      </nav>


      <div class="">
        <div class="">
          <ul>
          <li><a href="/transactions/new">New Transaction</a></li>
          <li><a href="/merchants/new">New Merchant</a></li>
          <li><a href="/tags/new">New tag</a></li>
          <li><a href="/budgets/new">New Budget</a></li>
        </ul>
        </div>
        <br>
        <%= yield %>
      </div>

    </section>


  </body>
</html>
