<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Trackon, saver of money</title>
  </head>
  <body>
    <section>
      <header class="">
        <h1>Trackon, saver of money</h1>
      </header>

      <nav>
        <ul>
          <li><a href="#">Transactions</a></li>
          <li><a href="#">Merchants</a></li>
          <li><a href="#">Tags</a></li>
        </ul>
      </nav>


      <div class="">
        <div class="">
          <button type="button" name="button">New Transaction</button>
          <button type="button" name="button">New Merchant</button>
          <button type="button" name="button">New tag</button>
        </div>
        <%= yield %>
      </div>

    </section>


  </body>
</html>
