<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Trackon, saver of money</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <section class="wrapper">
      <header class="">
        <h1><a href="/">Trackon, saver of money</a></h1>
      </header>

      <nav>
        <ul>
          <li><a href="/transactions">Transactions</a></li>
          <li><a href="/merchants">Merchants</a></li>
          <li><a href="/tags">Tags</a></li>
        </ul>
      </nav>


      <div class="main_area">
        <div class="">
          <button type="button" name="button"><a href="/transactions/new">New Transaction</a></button>
          <button type="button" name="button"><a href="/merchants/new">New Merchant</a></button>
          <button type="button" name="button"><a href="/tags/new">New tag</a></button>
        </div>
        <%= yield %>
      </div>

    </section>


  </body>
</html>
