
input, textarea, select {
  padding: 1%;
  min-width: 20px;
  font-size: 1em;
  margin: 1%;
}

input[type="submit"] {
  background-color: #3eb0f7;
  color: white;
  padding: 5px;
  width: 50%;
}

/* input[type="text"] {
  font-size: 1em;

}

input[type="submit"] {
  font-size: 1em;
} */

/* Filter */


.flex-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
