
input, textarea, select {
  padding: 1%;
  min-width: 20px;
  font-size: 1em;
  margin: 1%;
}

input[type="submit"] {
  background-color: #3eb0f7;
  color: white;
  padding: 5px;
  width: auto;
  font-variant: small-caps;
}

label {
  font-variant: small-caps;
}

/* Filter */


.flex-form {
  display: flex;
}
