body {
  font-family: verdana;
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
}



ul {
  padding: 0;
  margin: 0;
  text-indent: 0;
  list-style-type: 0;
}

li {
  list-style: none;
  padding: 5px;
  width: auto;
}



.wrapper {
  display: grid;
  width: 100%;
  grid-template-areas: "head head head"
                        "nav main main";
  grid-template-rows: 2fr 8fr;
  grid-template-columns: 1fr 6fr;
}

.wrapper > header {
  grid-area: head;
  background: linear-gradient(135deg, #43C59E, #3D7068);
  color: white;
  padding: 5px;
  font-variant: small-caps;
  font-size: 2em;
  text-align: center;
}

.wrapper > nav {
  grid-area: nav;
  background: linear-gradient(45deg, rgba(6, 64, 6, 0.8), rgba(63, 112, 104, 0.6));
  font-size: 1.5em;
  font-variant: small-caps;
  color: white;
}

.wrapper > div {
  grid-area: main;
  background-color: rgba(0,20, 20, 0.7);
  color: white;
  padding: 3%;
}
