<table>
  <tr>
    <th>ID</th>
    <th>Category</th>
    <th>Options</th>

  </tr>
  <% for tag in @tags %>
  <tr class="display_area">
    <th><%= tag.id %></th>
    <th><%= tag.category %></th>
    <th>
      <button type="button" category="button"><a href="/tags/<%= tag.id %>/edit">Edit</a>

      <% if tag.transactions.count == 0 %>
        <form action="/tags/<%= tag.id %>/delete" method="post"> <button type="submit" formmethod="post"><a>Delete</a></button> </form>
      <% else %>
        </button><p>This tag can't be deleted because is linked to one or more transactions</p>
      <% end %>

    </th>
  </tr>

  <% end %>
