<form method="post" action="/transactions">

    <label for="tag_id">Tag:</label>
      <select id="tag" name="tag_id">
        <% for tag in @tags %>
          <option value="<%= tag.id %>"> <%= tag.category %></option>

        <% end %>
      </select>


    <label for="merchant">Merchant:</label>
      <select id="merchant" name="merchant_id">
        <% for merchant in @merchants %>
          <option value="<%= merchant.id %>"> <%= merchant.name %></option>

        <% end %>
      </select>



    <label for="description">Description:</label>
    <input id="description" type="text" name="description" />

    <label for="amount">Amount:</label>
    <input id="amount" type="number" min="0" step="0.01" placeholder="It must be a number" name="amount" />

    <label for="transaction_date">Date:</label>
    <input id="transaction_date" type="date" name="transaction_date" min="2015-01-01" />



    <input type="submit" value="Create transaction"/>
</form>
